doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Rodrigo Malhães Bukowitz Portfolio

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.1/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
        link(href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic', rel='stylesheet', type='text/css')
        link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet", type='text/css')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.bg-secondary.text-uppercase.fixed-top
            .container
                a.navbar-brand.js-scroll-trigger(href='#page-top') Rodrigo Malhães Bukowitz 
                button.navbar-toggler.navbar-toggler-right.text-uppercase.font-weight-bold.bg-primary.text-white.rounded(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    | Menu 
                    i.fas.fa-bars
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto
                        li.nav-item.mx-0.mx-lg-1
                            a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href='#portfolio') Portfolio
                        li.nav-item.mx-0.mx-lg-1
                            a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href='#about') About

        // Masthead
        header.masthead.bg-primary.text-white.text-center
            .container.d-flex.align-items-center.flex-column
                // Masthead Avatar Image
                img.masthead-avatar.mb-5(src='assets/img/portfolio/MyPhoto.png', alt='')
                // Masthead Heading
                h1.masthead-heading.text-uppercase.mb-0 Rodrigo Malhães Bukowitz
                // Masthead Subheading
                p.masthead-subheading.font-weight-light.mb-0 Game Developer - Mobile Developer 

        // Portfolio Section
        section#portfolio.page-section.portfolio
            .container
                // Portfolio Section Heading
                h2.page-section-heading.text-center.text-uppercase.text-secondary.mb-0 Portfolio
                // Portfolio Grid Items
                .row.justify-content-center
                    // Portfolio Item 1
                    .col-md-6.col-lg-4.mb-5
                        .portfolio-item.mx-auto(data-toggle='modal', data-target='#portfolioModal1')
                            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                                .portfolio-item-caption-content.text-center.text-white
                                    i.fas.fa-plus.fa-3x
                            img.img-fluid(src='assets/img/portfolio/InnHell/logo.png', alt='')
                    // Portfolio Item 2
                    .col-md-6.col-lg-4.mb-5
                        .portfolio-item.mx-auto(data-toggle='modal', data-target='#portfolioModal2')
                            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                                .portfolio-item-caption-content.text-center.text-white
                                    i.fas.fa-plus.fa-3x
                            img.img-fluid(src='assets/img/portfolio/InnHell/Formigueiro.png', alt='')
                    // Portfolio Item 3
                    .col-md-6.col-lg-4.mb-5
                        .portfolio-item.mx-auto(data-toggle='modal', data-target='#portfolioModal3')
                            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                                .portfolio-item-caption-content.text-center.text-white
                                    i.fas.fa-plus.fa-3x
                            img.img-fluid(src='assets/img/portfolio/InnHell/Move.png', alt='')
                    // Portfolio Item 4
                    .col-md-6.col-lg-4.mb-5
                        .portfolio-item.mx-auto(data-toggle='modal', data-target='#portfolioModal4')
                            .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
                                .portfolio-item-caption-content.text-center.text-white
                                    i.fas.fa-plus.fa-3x
                            img.img-fluid(src='assets/img/portfolio/InnHell/ThrowHands.png', alt='')
                    
        // About Section
        section#about.page-section.bg-primary.text-white.mb-0
            .container
                // About Section Heading
                h2.page-section-heading.text-center.text-uppercase.text-white About me 
                // About Section Content
                h3.mb-5
                    | Greetings!   
                p.lead
                    | My name is Rodrigo and I am 24 years old, I was born in Rio de Janeiro, Brazil. For as long as I remember, I've always been a big fan of video games and now I am having a great time developing them.
                    | In the middle of my degree in computer engineering, I fell in love with game development and the challenges that come with it. Since then I have been specializing in the area in order to become a great game developer.
                // About Section Button
                .text-center.mt-4
                    a.btn.btn-xl.btn-outline-light(href='assets/img/portfolio/RodrigoCVEN.pdf')
                        i.fas.fa-download.mr-2
                        | CV Download

        // Footer
        footer.footer.text-center
            .container
                .row
                    // Footer Location
                    .col-lg-44.mb-5.mb-lg-0
                        h5.text.mb-4 Email: rodrigomalhaes@gmail.com
                        h5.text.mb-4 Mobile:
                            br 
                            | +55 (21) 991666783
                    // Footer Social Icons
                    .col-lg-44.mb-5.mb-lg-0
                        h4.text-uppercase.mb-4
                        |
                    .col-lg-44.mb-5.mb-lg-0
                        h4.text-uppercase.mb-4 Around the Web
                        //- a.btn.btn-outline-light.btn-social.mx-1(href='#!')
                        //-     i.fab.fa-fw.fa-twitter
                        a.btn.btn-outline-light.btn-social.mx-1(href='https://www.linkedin.com/in/rodrigo-malh%C3%A3es-bukowitz-5b406116b/')
                            i.fab.fa-fw.fa-linkedin-in
        // Copyright Section
        div.copyright.py-4.text-center.text-white
            .container
                small Copyright © Rodrigo Bukowitz 2020
        // Scroll to Top Button (Only visible on small and extra-small screen sizes)
        .scroll-to-top.d-lg-none.position-fixed
            a.js-scroll-trigger.d-block.text-center.text-white.rounded(href='#page-top')
                i.fa.fa-chevron-up

        // Portfolio Modals

        // Portfolio Modal 1
        #portfolioModal1.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='portfolioModal1Label', aria-hidden='true')
            .modal-dialog.modal-xl(role='document')
                .modal-content
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true')
                            i.fas.fa-times
                    .modal-body.text-center
                        .container
                            .row.justify-content-center
                                .col-lg-8
                                    // Portfolio Modal - Title
                                    h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0#portfolioModal1Label Inn Hell 
                                    p.mb-5
                                        |  
                                    // Portfolio Modal - Image
                                    img.img-fluid.rounded.mb-5(src='assets/img/portfolio/InnHell/intro.gif', alt='')
                                    // Portfolio Modal - Text
                                    h3.mb-5
                                        | Inn Hell is a digital game, for iOS, in which the protagonist, with the help of the Devil, must smuggle beer into the skies in exchange for his spirit being free from eternal torture.
                                    img.img-fluid.rounded.mb-5(src='assets/img/portfolio/InnHell/menu.png', alt='')
                                    h3.mb-5
                                        | The game brings together two genres, roguelike and tactics and aims to evade the casual theme of mobile games, seeking more difficult mechanics and with a high learning curve.
                                    img.img-fluid.rounded.mb-5(src='assets/img/portfolio/InnHell/game.png', alt='')
                                    h3.mb-5
                                        |  I developed InnHell during my time at Apple Developer Academy. I learned a lot from making all the game structure from zero and creating my own Random Map Generator algorithm, creating procedural levels fitting the Roguelike genre.
                                    a(href="https://www.behance.net/gallery/90702563/Inn-Hell") For more info check out the game page 
                                    h3.mb-5
                                        |   
                                    button.btn.btn-primary(data-dismiss='modal')
                                        i.fas.fa-times.fa-fw
                                        | Close Window
        // Portfolio Modal 2
        #portfolioModal2.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='portfolioModal2Label', aria-hidden='true')
            .modal-dialog.modal-xl(role='document')
                .modal-content
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true')
                            i.fas.fa-times
                    .modal-body.text-center
                        .container
                            .row.justify-content-center
                                .col-lg-8
                                    // Portfolio Modal - Title
                                    h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0#portfolioModal1Label O Formigueiro 
                                    p.mb-5
                                        |  
                                    // Portfolio Modal - Image
                                    img.img-fluid.rounded.mb-5(src='assets/img/portfolio/InnHell/gif1.gif', alt='')
                                    // Portfolio Modal - Text
                                    h3.mb-5
                                        | O Formigueiro ("The anthill") is a stealth and survival game about a half-robot ant inside an anthill full of monstrous robot ants.
                                    img.img-fluid.rounded.mb-5(src='assets/img/portfolio/InnHell/gif2.gif', alt='')
                                    h3.mb-5
                                        | Your objective is to get out of this huge maze all in the dark, but don't worry because you got an ant sonar. Your powerful sonar will make you see through all the enemies and puzzles and help you see the light of the day out of the anthill. 
                                    img.img-fluid.rounded.mb-5(src='assets/img/portfolio/InnHell/Formiga2.png', alt='')
                                    h3.mb-5 
                                        | O Formigueiro was developed by Prisma Game Lab an independent game studio made by students from Pontifical Catholic University of Rio de Janeiro. I was part of the Unity Developers team, I worked on the sonar effect and all other graphic features about the game,  developing some levels and implementing the core mechanics. 
                                    a(href="https://prismagamelab.itch.io/oformigueiro") For more info check out the game page 
                                    h3.mb-5
                                        |   
                                    button.btn.btn-primary(data-dismiss='modal')
                                        i.fas.fa-times.fa-fw
                                        | Close Window
        // Portfolio Modal 3
        #portfolioModal3.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='portfolioModal3Label', aria-hidden='true')
            .modal-dialog.modal-xl(role='document')
                .modal-content
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true')
                            i.fas.fa-times
                    .modal-body.text-center
                        .container
                            .row.justify-content-center
                                .col-lg-8
                                    // Portfolio Modal - Title
                                    h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0#portfolioModal3Label Paintings Don't Move
                                    p.mb-5
                                        |  
                                    // Portfolio Modal - Image
                                    img.img-fluid.rounded.mb-5(src='assets/img/portfolio/InnHell/MoveG.gif', alt='')
                                    // Portfolio Modal - Text
                                    h3.mb-5
                                        | In Paintings Don't Move, you fight inside a cursed ancient Egyptian painting to keep enemies from reaching the pillar that is the source of your power. At the same time, you must keep the museum visitor from noticing your painting is moving! To both those ends, you must use your power to freeze time!
                                    img.img-fluid.rounded.mb-5(src='assets/img/portfolio/InnHell/Move3.png', alt='')
                                    h3.mb-5 
                                        | This game was developed during the "Mini Jam 61: Ancient Egypt"  hosted by Itch.io. It was a very interesting craft and develop the whole game concept in only 72 hours. I learn about basic shader properties, make a realistic and satisfactory scope, and how to coordinate a team through the entire jam. 
                                    a(href="https://tehvict.itch.io/paintings-dont-move") For more info check out the game page 
                                    h3.mb-5
                                        |  
                                    button.btn.btn-primary(data-dismiss='modal')
                                        i.fas.fa-times.fa-fw
                                        | Close Window
        // Portfolio Modal 4
        #portfolioModal4.portfolio-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='portfolioModal3Label', aria-hidden='true')
            .modal-dialog.modal-xl(role='document')
                .modal-content
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true')
                            i.fas.fa-times
                    .modal-body.text-center
                        .container
                            .row.justify-content-center
                                .col-lg-8
                                    // Portfolio Modal - Title
                                    h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0#portfolioModal4Label Throw Arms
                                    p.mb-5
                                        |  
                                    // Portfolio Modal - Image
                                    img.img-fluid.rounded.mb-5(src='assets/img/portfolio/InnHell/throwHandsG.gif', alt='')
                                    // Portfolio Modal - Text
                                    h3.mb-5
                                        | Throw Hands is a Local/Online Multiplayer fight game with a funny twist: whenever your character punches, it launches its arm. To punch again, you must pick the arm back up.   
                                    img.img-fluid.rounded.mb-5(src='assets/img/portfolio/InnHell/THimg1.png', alt='')
                                    h3.mb-5 
                                        | This game was developed in Unity and used the free Photon Bolt asset to implement all the multiplayer experience. I worked mainly on the multiplayer features, gameplay, and bug fixes.
                                    a(href="https://tehvict.itch.io/throw-hands") For more info check out the game page 
                                    h3.mb-5
                                        |  
                                    button.btn.btn-primary(data-dismiss='modal')
                                        i.fas.fa-times.fa-fw
                                        | Close Window

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')

        // Contact form JS
        script(src='assets/mail/jqBootstrapValidation.js')
        script(src='assets/mail/contact_me.js')

        // Core theme JS
        script(src='js/scripts.js')
